:root {
  /* Base colors */
  --color-white: #fff;
  --color-off-white: #eee;
  --color-light-gray: #bbb;
  --color-medium-gray: #555;
  --color-dark-gray: #333;
  --color-black: #000;
  --color-dark-blue: #497999;
  --color-light-blue: #87afc8;
  --color-red: #F33;
  --color-green: #87C86E;
  --color-yellow: #fac855;
  --color-orange: #dc8c46;
  --color-purple: #aa6eaa;

  /* App colors */
  --color-link: var(--color-dark-blue);
  --color-button: var(--color-light-blue);

  /* Font */
  --font-family-default: 'Cinzel', serif;

  /* Font size */
  --font-size-default: var(--font-size-sm);
  --font-size-xs: 0.625rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 0.875rem;
  --font-size-lg: 1rem;
  --font-size-xl: 1.375rem;
  --font-size-xxl: 1.875rem;

  /* Font weight */
  --font-size-default: var(--font-weight-medium);
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Spacing */
  /* TODO: Refactor these so that there's no xm */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-xm: 2rem;
  --spacing-lg: 3rem;
  --spacing-xl: 4rem;
  --spacing-xxl: 6rem;

  /* App Spacing */
  --header-height: var(--spacing-lg);
  --footer-height: var(--spacing-xxl);
}
