.l-header {
  background-color: var(--color-dark-gray);
  color: var(--color-white);
  height: var(--header-height);
  margin-top: auto;
  margin-bottom: auto;
  line-height: var(--header-height);
  padding-left: var(--spacing-md);
  font-size: var(--font-size-xl);

  & .l-header__link {
    color: var(--color-white);
  }
}
