/* TODO: Move this */
.c-kingdom-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.c-kingdom {
  min-width: 536px;
  border: 1px solid black;
  display: inline-block;
  margin: var(--spacing-sm);
  border-radius: 5px;

  & .c-kingdom__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: var(--spacing-sm);
    background-color: var(--color-dark-gray);
    color: var(--color-off-white);
    border-top-radius: 5px;

    & .c-kingdom__title {
      font-weight: var(--font-weight-bold);
      padding: var(--spacing-sm);
    }

    & .c-kingdom__rating {
      display: inline-block;
      margin-right: var(--spacing-sm);
    }
    & .c-kingdom__play-count {
      display: inline-block;
    }
  }

  & .c-kingdom__label {
    font-size: var(--font-size-xs);
  }

  & .c-kingdom__cards {
    padding: var(--spacing-sm);
    max-width: 536px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--color-medium-gray);
  }
}
