<h1 class="h-inline">Kingdoms</h1>

<%= button_to "New Kingdom", new_kingdom_path, method: :get, form_class: "c-btn--main h-inline h-float--right" %>

<%= react_component("KingdomsList", kingdoms: kingdoms) %>
