<h1>Credits</h1>

<div class="l-container">
  <ul>
    <li>
      The web application itself was created by me,
      <a href="http://github.com/dkniffin">dkniffin<a>.
      However, it is open source and you can find the source at
      <a href="https://github.com/dkniffin/fairgrounds">https://github.com/dkniffin/fairgrounds</a>.
      I would love if you contribute pull requests to it.
    </li>
    <li>
      All card images were pulled from
      <a href="http://wiki.dominionstrategy.com/">wiki.dominionstrategy.com</a>
    </li>
    <li>
      For a list of card illustrators, see
      <a href="http://wiki.dominionstrategy.com/index.php/List_of_illustrators">this wiki page</a>
    </li>
    <li>
      All icons are from <a href="https://fontawesome.com/">Font Awesome</a>
    </li>
  </ul>
</div>
