.c-kingdom-form {
  display: flex;

  & .c-kingdom-form__form {
    flex: 2;

    & label {
      display: block;
    }
  }

  & .c-kingdom {
    flex: 3;

    & .c-card {
      max-width: 20%;
    }
  }
}
